* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: crimson;
  color: white;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 20vh;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  gap: 3rem;
  margin: 2rem auto;
}