h2{
  font-size: 3rem;
  color: #ffcc01;
  text-align: center;
  text-shadow: 4px 4px #3265af;
}
.container {
  background: transparent url("/public/images/bg-content.png") left top;
  background-size: 100% 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 600px;
  padding: 1rem;
  
}
