.character{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  max-height: 500px;
}
.character :nth-child(1){
    border-radius: 50%;
    transition: all 0.5s ease-in;
    width: 80%;
}

.character :nth-child(1):hover{
  transform: rotate(1turn);
}

.character :nth-child(2){
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .character{
    max-height: 200px;
  }
  .character :nth-child(2){
    font-size: 1rem;
    text-align: center;
  }
}