.title, .wild{
  color: #ffcc01;
  text-align: center;
  text-shadow: 4px 4px #3265af;
}
.title{
  font-size: 3rem;
}
.subtitle{
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 4px 4px #000;
}
.container {
  background: transparent url("/public/images/bg-content.png") left top;
  background-size: 100% 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 600px;
  padding: 1rem;
}
.portada {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.buttonbar{
  display: flex;
  justify-content: center;
}
button {
  border: none;
  border-radius: 50%;
  font-family: inherit;
  font-weight: bold;
  margin: 0.4rem auto;
}
.btnFilter{
  border: none;
  border-radius: 50%;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.4rem auto;
  width: 60px;
  height: 60px;
}
.fire{
  background-color: crimson;
  color: white;
}
.water{
  background-color: lightblue;
  color: white;
  text-shadow: 2px 2px 2px  #000;
}
.rock{
  background-color: lightgray;
  color: #000;

}

