.card {
  border-radius: 10%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.375);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  text-align: center;
  width: 300px;
}

.card__image{
  object-fit: cover;
  max-height: 200px;
}
.water {
  background-color: lightblue;
}

.fire {
  color: white;
  background-color: crimson;
}
.rock {
  background-color: lightgray;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.btn {
  border: none;
  background-color: crimson;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 1rem;
  max-width: 150px;
  margin: 10px auto;
}
.btn:hover {
  background-color: rgba(220, 20, 60, 0.452);
}